/* Put your custom styles here and run `npm start` from the "src" directory on */
@import 'tachyons/src/_media-queries';

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

header.cover {
  background-size: cover;
  background-position: 0 40%;
}

.ltt-header__title {
  padding-top: 15%;
  padding-bottom: 15%;
}

.serif {
}

.ltt-sidebar {
  flex: 1;

  @media (--breakpoint-large) {
    border-color: yellow !important;
    flex: 0 0 16rem;
  }
}
